<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>书籍管理页面</title>
    <link rel="stylesheet" href="../../static/css/manager/manager.css">
    <link rel="stylesheet" href="../../static/css/manager/sidebar.css">

    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.bootcdn.net/ajax/libs/alpinejs/3.10.5/cdn.min.js"></script>
</head>
<body>
<h1>书籍管理</h1>

<div id="left">
    <div class="manager_button" id="home_manager"><a th:href="@{/manager/index}">首页</a></div>
    <div class="manager_button" id="book_manager"><a th:href="@{/manager/book}">书籍管理</a></div>
    <div class="manager_button" id="user_manager"><a th:href="@{/manager/user}">用户管理</a></div>
    <div class="manager_button" id="mine_manager"><a th:href="@{/manager/mine}">个人信息</a></div>
    <div class="manager_button" id="password_manager"><a th:href="@{/manager/password}">密码修改</a></div>
    <div class="manager_button" id="exit"><a th:href="@{/exit}">退出系统</a></div>
</div>

<div class="box" x-data="tasks()" x-init="show(false)">
    <span class="tips" x-show="page!==null"><a @click="show(false)">全部展示</a></span>
    <span class="tips" x-show="page===null"><a @click="show(true, 1)">分页展示</a></span>

    <span class="tips" id="add_box"><a th:href="@{/manager/book/add}" id="add">添加书籍</a></span>
    <table>
        <thead>
        <tr>
            <th>序号</th>
            <th>书名</th>
            <th>作者</th>
            <th>价格</th>
            <th>类别</th>
            <th>描述</th>
            <th>销量</th>
            <th>库存</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="(book, index) in books">
            <tr>
                <td x-show="page === null" x-text="index+1"></td>
                <td x-show="page !== null" x-text="index + (page.pageNum - 1) * page.pageSize + 1"></td>
                <td x-text="book.title"></td>
                <td x-text="book.author"></td>
                <td x-text="book.price"></td>
                <td x-text="book.category"></td>
                <td x-text="book.description"></td>
                <td x-text="book.sales"></td>
                <td x-text="book.stock"></td>
                <td>
                    <span class="buttons"><a @click="remove(book.bookId)" class="del">删除</a></span>
                    <span class="buttons"><a @click="window.location.href = `/manager/book/modify/${book.bookId}`"
                                             class="alter">修改</a></span>
                </td>
            </tr>
        </template>
        </tbody>
    </table>

    <div class="page" x-show="page!==null">
        <a class="page_number" x-show="page.hasPreviousPage" @click="show(true, 1)">首页</a>
        <a class="page_number" x-show="page.hasPreviousPage" @click="show(true, page.prePage)">上一页</a>
        <template x-for="num in page.navigatepageNums" :key="num">
            <a @click="show(true, num)" class="page_number" :style=" page.pageNum === num ? 'color: red;': ''"
               x-text="num"></a>
        </template>
        <a class="page_number" x-show="page.hasNextPage" @click="show(true, page.nextPage)">下一页</a>
        <a class="page_number" x-show="page.hasNextPage" @click="show(true, page.pages)">尾页</a>
    </div>

    <div id="back_index"><a th:href="@{/manager/home}">返回首页</a></div>
</div>

<script>
    function tasks() {
        return {
            books: [],
            page: null,
            show(page = false, pageNumber = 1) {
                let self = this;
                if (page === false) {
                    axios.get('/api/manager/book')
                        .then(function (res) {
                            self.books = res.data;
                            self.page = null;
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                } else {
                    axios.get('/api/manager/book/' + pageNumber)
                        .then(function (res) {
                            self.page = res.data;
                            self.books = self.page.list;
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                }
            },
            remove(bookId) {
                let self = this;
                axios.delete('/api/manager/book/' + bookId)
                    .then(function (response) {
                        // console.log(response); // debug 专用
                        if (response.data.code === 400)
                            alert("删除失败");
                        else
                            alert("删除成功")

                        if (self.page !== null)
                            self.show(true, self.page.pageNum);
                        else
                            self.show();
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
        }
    }
</script>
</body>
</html>