<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理页</title>
    <link rel="stylesheet" href="../../static/css/manager/user.css">
    <link rel="stylesheet" href="../../static/css/manager/sidebar.css">
    <script defer src="https://cdn.bootcdn.net/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script defer src="https://cdn.bootcdn.net/ajax/libs/alpinejs/3.10.5/cdn.min.js"></script>
</head>
<body>
<h1>后台管理</h1>
<div id="left">
    <div class="manager_button" id="home_manager"><a th:href="@{/manager/index}">首页</a></div>
    <div class="manager_button" id="book_manager"><a th:href="@{/manager/book}">书籍管理</a></div>
    <div class="manager_button" id="user_manager"><a th:href="@{/manager/user}">用户管理</a></div>
    <div class="manager_button" id="mine_manager"><a th:href="@{/manager/mine}">个人信息</a></div>
    <div class="manager_button" id="password_manager"><a th:href="@{/manager/pwd}">密码修改</a></div>
    <div class="manager_button" id="exit"><a th:href="@{/exit}">退出系统</a></div>
</div>

<div class="box" x-data="tasks()" x-init="show(false)">
    <span class="tips" x-show="page!==null"><a @click="show(false)">全部展示</a></span>
    <span class="tips" x-show="page===null"><a @click="show(true, 1)">分页展示</a></span>
    <table>
        <thead>
        <tr>
            <th>序号</th>
            <th>用户名</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>邮箱</th>
            <th>身份</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <template x-for="(user, index) in users">
            <tr>
                <td x-text="index+1"></td>
                <td x-text="user.username"></td>
                <td x-text="user.name"></td>
                <td x-text="user.gender"></td>
                <td x-text="user.age"></td>
                <td x-text="user.email"></td>
                <td x-text="user.role"></td>
                <td>
                    <span class="buttons"><a @click="remove(user.userId)" class="del">删除</a></span>
                    <span class="buttons"><a @click="window.location.href = `/manager/user/modify/${user.userId}`" class="alter">修改</a></span>
                </td>
            </tr>
        </template>
        </tbody>
    </table>

    <div class="page" x-show="page!==null">
        <a class="page_number" x-show="page.hasPreviousPage" @click="show(true, 1)">首页</a>
        <a class="page_number" x-show="page.hasPreviousPage" @click="show(true, page.prePage)">上一页</a>
        <template x-for="num in page.navigatepageNums" :key="num">
            <a @click="show(true, num)" class="page_number" :style=" page.pageNum === num ? 'color: red;': ''"
               x-text="num"></a>
        </template>
        <a class="page_number" x-show="page.hasNextPage" @click="show(true, page.nextPage)">下一页</a>
        <a class="page_number" x-show="page.hasNextPage" @click="show(true, page.pages)">尾页</a>
    </div>

    <div id="back_index"><a th:href="@{/manager/index}">返回首页</a></div>
</div>

<script>
    function tasks() {
        return {
            users: [],
            page: null,
            show(page = false, pageNumber = 1) {
                let self = this;
                if (page === false) {
                    axios.get('/api/manager/user')
                        .then(function (res) {
                           // console.log(res); // debug 专用
                            self.users = res.data;
                            self.page = null;
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                } else {
                    axios.get('/api/manager/user/' + pageNumber)
                        .then(function (res) {
                            self.page = res.data;
                            self.users = self.page.list;
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                }
            },
            remove(userId) {
                let self = this;
                axios.delete('/api/manager/user/' + userId)
                    .then(function (response) {
                        // console.log(response); // debug 专用
                        if (response.data.code === 400)
                            alert("删除失败");
                        else
                            alert("删除成功")

                        if (self.page !== null)
                            self.show(true, self.page.pageNum);
                        else
                            self.show();
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
        }
    }
</script>

</body>
</html>