<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到网上书城</title>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <title>首页</title>
</head>
<body>
<div id="top">
    <h1>网上书城</h1>
    <div id="top-right">
        <span class="login_register"><a th:href="@{/login}">登录</a>|<a th:href="@{/register}">注册</a></span>
    </div>
</div>
<div class="novel">
    <h1>编辑推荐</h1>
    <ul>
        <li>
            <div class="image_title">
                <a href="#">时间简史</a>
                <button class="add">加入购物车√</button>
            </div>
            <a href="https://product.dangdang.com/12100007632.html"><img src="../static/img/sjjs.png"/></a>

        </li>
        <li>
            <div class="image_title">
                <a href="#">活 着</a>
                <button class="add">加入购物车√</button>
            </div>
            <a href="https://product.dangdang.com/11387197925.html"><img src="../static/img/huozhe.png"/></a>
        </li>
        <li>
            <div class="image_title">
                <a href="#">围 城</a>
                <button class="add">加入购物车√</button>
            </div>
            <a href="https://product.dangdang.com/11500441293.html"><img src="../static/img/weichen.png"/></a>
        </li>
        <li>
            <div class="image_title">
                <a href="#">人间失格</a>
                <button class="add">加入购物车√</button>
            </div>
            <a href="https://product.dangdang.com/11438225557.html"><img src="../static/img/renjianshige.png"/></a>
        </li>
        <li>
            <div class="image_title">
                <a href="#">边 城</a>
                <button class="add">加入购物车√</button>
            </div>
            <a href="https://product.dangdang.com/23311849.html"><img src="../static/img/bianchen.png"/></a>
        </li>
        <li>
            <div class="image_title">
                <a href="#">百年孤独</a>
                <button class="add">加入购物车√</button>
            </div>
            <a href="https://product.dangdang.com/25138856.html"><img src="../static/img/bainiangudu.png"/></a>
        </li>
    </ul>
</div>
</body>
</html>